<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.44" targetFramework="net48" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="Melanchall.DryWetMidi" version="8.0.3" targetFramework="net48" />
</packages>